<div class="list-group-item editable-list-item">
    <span>{{{item}}}</span>
    <div class="list-item-actions" {{action "removeItem"}}>
        {{material-design-icon name='clear'}}
    </div>
</div>