{{#if columnWidth }}
    <div class="col-md-{{ columnWidth }}">

        <div id="introduction" class="card">

            <h1>Time management by trivia</h1>

            <div id="introduction-text">
                <p>
                    You can use this page to manage your valuable time! All you need to do is make a small list of
                    urgent tasks
                    you
                    absolutely need to complete, and a mini list of rewards you would enjoy.
                </p>
                <p>
                    We will take care of the rest.
                    <br><span>(don’t actually use this page to manage your time)</span>
                </p>
            </div>

            {{#bs-button action="clickPrimary" type="primary"}}
                Sure, let’s manage some time!
            {{/bs-button}}

            {{#bs-button type="default"}}
                Who are you?
            {{/bs-button}}

        </div>

    </div>
{{/if }}