<div class="col-md-6">
    <div id="introduction" class="card">

        <h1>Time management by trivia</h1>

        <div id="introduction-text">
            <p>
                Use this page to manage your valuable time! All you need to do is make a small list of
                urgent tasks you need to complete, and a list of non-productive fun things you want to do.
            </p>
            <p>
                We will take care of the rest.
            </p>

            <p><span>(don’t actually use this page to manage your time)</span></p>
        </div>

        {{#bs-button action="clickPrimary" type="primary"}}
            Sure, let’s manage some time!
        {{/bs-button}}
    </div>
</div>
