<p class="random-reward">{{{ randomReward }}}</p>

<p>
   Come back when you have enjoyed your reward to plan your next activity!
</p>

<button class="btn btn-primary" {{action "completeReward"}}>Done!</button>
