<p class="random-task">{{{ randomTask }}}</p>

<br/>

<p>
    Come back when you have completed your task to plan your next activity!
</p>

<button class="btn btn-primary" {{action "completeTask"}}>Done!</button>
