<div class="col-md-6">
    <div id="rewards-list" class="card">

        <h2>Reward</h2>

        {{ editable-list input-placeholder="Watch an episode of Westworld..."
                         storage=rewardsStorage
                         onListItemChanged=(action "onListItemChanged")}}
    </div>
</div>
