<div class="col-md-6">
    <div id="to-do-list" class="card">

        <h2>Tasks</h2>

        {{ editable-list input-placeholder="Do the dishes..."
                         storage=tasksStorage
                         onListItemChanged=(action "onListItemChanged")}}
    </div>
</div>
