{{#if columnWidth }}
    <div class="col-md-{{columnWidth}}">
        <div id="to-do-list" class="card">

            <h2>To-do items</h2>

            {{ editable-list input-placeholder="Do the dishes..."}}
        </div>
    </div>
{{/if}}