{{#if columnWidth }}
    <div class="col-md-{{columnWidth}}">
        <div id="to-do-list" class="card">

            <h2>Tasks</h2>

            {{ editable-list input-placeholder="Do the dishes..."
                             items=tasks
                             storage=tasksStorage}}
        </div>
    </div>
{{/if}}